doctype html  
html(lang='en')  
    head
        title Home
        style 
            include index.css
    body
        include ./component/headerNav.pug
        h1.maxWith This is a Home page
        div.container.maxWith
            h2 You are welcome
            