head 
    style 
        include styleNav.css
body 

mixin navHeader
    header 
        div.headerNav
            p.logoh express-PUG 
                span (template engine)
            nav.navLink
                a(href="/") Home  
                a(href="/service") Our-Service  
                a(href="/contact") Contact-us  
+navHeader
